extends components/headerIndex.pug

block headerIndex
    section#main
        .main-container
            .info-tab
                .info-tab-container
                    .info-tab-logo
                        a(href='/')
                            img(src='/assets/fileburnLogo.png')
                    .info-tab-desc
                        | A&nbsp;
                        span(style='color:#F26600') simple
                        |  burner file sharing app.
                    .info-tab-footer
                        a(target='_blank' href='https://github.com/NabeelAhmed1721/')
                            | Nothing More. Nothing Less.
            .upload-tab
                form(method='post' action="/" enctype="multipart/form-data")
                    .upload-tab-form-container-border
                        .upload-tab-container
                            .upload-tab-form
                                .upload-tab-form-title
                                    label#filenamePreview
                                    #fileUploadTitle
                                        label.upload-tab-form-upload
                                            span(style='color:#F26600') Click
                                            input#formUploadInput(onchange='fileUploadValidate();' type='file' name="fileUpload")
                                        |  to upload or drag and drop files.
                                .upload-tab-form-submit
                                    input.upload-tab-form-submit-btn(type='submit' value='Upload')
                                if response
                                    .upload-tab-form-error-container
                                        .upload-tab-form-error
                                            .upload-tab-form-error-style !
                                            .upload-tab-form-error-title=response
    script(src="/scripts/fileUploadValidation.js")